.delete {
cursor: pointer;

}

.delete:hover{
    animation: animate45  infinite 1000ms ;
}


@keyframes animate45 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }

}